.layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: #f0f2f5;
}

.layoutContent {
  position: relative;
  margin: 24px;
  flex: auto;
  min-height: 0;
}

.card {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 24px;
  box-sizing: border-box;
  /*  */
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  background: #fff;
  border-radius: 2px;
}

.cardBody {
  padding: 20px 24px 8px;
}

.chartCard {
  position: relative;
}

.chartCardIndexChartTop {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.chartCardMeta {
  height: 22px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 22px;
}

.chartCardIndexTotal {
  height: 38px;
  margin-top: 4px;
  margin-bottom: 0;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-size: 30px;
  line-height: 38px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.chartCardIndexFooter {
  margin-top: 8px;
  padding-top: 9px;
  border-top: 1px solid #f0f0f0;
}

.chartFieldLabel {
  font-size: 14px;
  line-height: 22px;
}

.chartFieldNumber {
  font-size: 14px;
  line-height: 22px;
  margin-left: 8px;
}

.cardListItemContentIndexExtra {
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 22px;
}

.cardListItemContentIndexExtra > .em {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.25);
  font-style: normal;
}
