.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.pageHeader {
  box-sizing: border-box;
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  padding: 16px 24px 0px 24px;
  padding-top: 16px;
  background-color: #fff;
}

.hasBreadcrumb {
  padding-top: 12px;
}

.breadcrumb {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}

.breadcrumb + .pageHeaderHeading {
  margin-top: 8px;
}

.pageHeaderHeading {
  display: flex;
  justify-content: space-between;
}

.pageHeaderHeadingTitle {
  margin-right: 12px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pageContent {
  padding-top: 12px;
}
.pageHeaderContent {
  padding-bottom: 16px;
}
