@import "~antd/dist/antd.css";
.logo {
  height: 32px;
  margin: 16px;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}

.site_layout_background {
  background: #fff;
}

.searchInput {
  width: 70%;
  display: block;
  margin: 20px auto;
  text-align: left;
  border-radius: 5px;
}
