@import url("https://fonts.googleapis.com/css?family=Rubik");

html {
  background: #ffffff;
}

body {
  margin: 0;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-bottom: 320px;
  background-position: bottom;
  background-repeat: no-repeat;
}

body * {
  transition: all 500ms ease-in-out;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100hv;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  margin: 0 auto;
  justify-content: space-between;
  color: #111;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 10px 0px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #111;
}
#SignIn a {
  border: #f53838 solid 1px;
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 16px;
}
#SignIn a:hover {
  background: #f53838;
  color: #eee;
}
nav ul li {
  display: inline-block;
  margin-left: 10px;
}

nav ul:first-of-type li:first-of-type {
  font-weight: bold;
  font-size: 1.1rem;
}

.header_content {
  width: 40%;
  float: left;
}
.header_img {
  width: 60%;
  float: left;
}
.header_content::before,
.header_img::before {
  clear: both;
  content: "";
}
.header_content::after,
.header_img::after {
  clear: both;
}
.header_img {
  padding-top: 30px !important;
}
.header_1 {
  position: relative;
  padding: 0 0 0 50px;
  display: inline-block;
}

.header_1 div {
  padding-top: 150px;
  position: relative;
}

.header_1 div h1 {
  font-weight: 700;
}

.header_1 div p {
  width: 550px;
  font-size: 16px;
  line-height: 28px;
}

.header_1 img {
  width: 90%;
}

.header_1 div a {
  display: block;
  margin-top: 60px;
  width: 200px;
  border-radius: 40px;
  color: #f53838;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  height: auto;
  padding: 8px 24px;
}

.header_1 div a,
.newsletter input[type="submit"] {
  background: #f53838;
  color: #fff;
}

.header_1 div a:hover,
.newsletter input[type="submit"]:hover {
  border: 1px solid #f53838;
  background: #ffffff;
  color: #f53838;
}
.main {
  padding-top: 50px;
  padding: 0px 0 0 50px;
}

h3 {
  font-size: 30px;
  color: rgb(12, 0, 116);
}

.services {
  margin-top: 100px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0px 180px 0px;
  position: relative;
}

.services-card {
  display: inline-block;
  border-radius: 10px;
  margin-left: -28px;
}
.service-description {
  width: 40%;
  color: #4f5665;
}
.service-description h3 {
  font-size: 40px;
  font-weight: 900;
}
.service-description ul {
  list-style: none;
  padding: 0;
}
.service-description li p {
  text-align: justify;
  display: block;
}
.service-one img {
  width: 70%;
  height: auto;
}
.services-btn a {
  display: block;
  margin-top: 70px;
  width: 180px;
  border-radius: 40px;
  color: #f53838;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  height: auto;
  padding: 8px 10px;
  background: #fc5c67;
  color: #fff;
}
.services-btn a:hover {
  border: 1px solid #f53838;
  background: #ffffff;
  color: #f53838;
}
.banner-bottom {
  padding-bottom: 100px;
  position: relative;
}
.banner-bottom-title {
  position: absolute;
  left: 40%;
  top: 10%;
}
.banner-bottom-title-header h4 {
  font-size: 30px;
  text-align: center;
  font-weight: 800;
}
.banner-bottom-title-btn {
  padding-left: 20%;
}
.banner-bottom-title-btn a {
  display: block;
  margin-top: 70px;
  width: 180px;
  border-radius: 40px;
  color: #f53838;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  height: auto;
  padding: 8px 10px;
  background: #fc5c67;
  color: #fff;
}
.banner-bottom-title-btn a:hover {
  border: 1px solid #f53838;
  background: #ffffff;
  color: #f53838;
}
.bannerimage img {
  width: 100%;
}
@media screen and (max-width: 1380px) {
  .header_1 div {
    padding-top: 100px;
  }
  .header_1 div h1 {
    font-size: 50px;
    line-height: 1.2;
  }

  .header_1 div p {
    width: 400px;
  }
}

@media screen and (max-width: 1150px) {
  .header_1 img {
    width: 90%;
    right: -50%;
    top: 320px;
  }

  .header_1 div h1 {
    font-size: 32px;
  }

  .header_1 div p {
    width: 400px;
  }

  .service-container {
    display: block;
  }

  .services-card {
    width: 100%;
    height: 400px;
  }

  .service-description {
    width: 100%;
  }

  .service-one {
    background-size: 100% !important;
  }
  .banner-bottom-title {
    left: 35%;
    top: 30px;
  }
}

@media screen and (max-width: 980px) {
  .header_1 img {
    width: 90%;
    right: -50%;
    top: 520px;
  }
  .banner-bottom-title {
    left: 35%;
    top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .header_1 div h1 {
    font-size: 28px;
  }
  .header_1 div p {
    width: 324px;
  }
  .services-card {
    width: 100%;
    height: auto;
  }
  .service-description {
    width: 90%;
  }
  .service-description h3 {
    font-size: 28px;
  }
  .services-btn a {
    margin-top: 30px;
    width: 120px;
    font-size: 12px;
  }
  .service-container {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 300px) {
  h1 {
    font-size: 50px;
    text-align: left !important;
  }
}
@media screen and (max-width: 768px) {
  #logo img {
    width: 30%;
  }
  .header_1 div {
    width: 100%;
  }
  .header_1 img {
    display: none;
  }
  .header_1 div h1 span {
    font-size: 40px;
  }
  .service-one img {
    width: 100%;
    height: auto;
  }
  .banner-bottom {
    padding-bottom: 50px;
  }
  .banner-bottom-title {
    left: 35%;
    top: 20px;
  }
  .banner-bottom-title-header h4 {
    font-size: 20px;
  }
  .banner-bottom-title-btn {
    padding-left: 40px;
  }
  .banner-bottom-title-btn a {
    margin: 0;
    width: 100px;
    font-size: 10px;
    padding: 8px 0px;
  }
}
@media screen and (max-width: 450px) {
  .banner-bottom-title {
    left: 35%;
    top: 20px;
  }
  .banner-bottom-title-btn {
    padding-left: 5px;
  }
  .banner-bottom-title-header h4{
    font-size: 12px;
  }
  .banner-bottom-title-btn a {
    margin: 0;
    width: 100px;
    font-size: 8px;
    padding: 8px 0px;
  
  }
}
