.dark {
  background-color: #000;
  color: rgba(255, 255, 255, 0.65);
}
.dark a {
  color: #fff;
}
.dark h2 {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
}
.dark h2 span {
  color: rgba(255, 255, 255, 1);
}
.dark .bottom-bar {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
}
.footerLanding {
  border-top: 1px solid;
  clear: both;
  font-size: 12px;
  background: #fff;
  position: relative;
  z-index: 100;
  color: #fff;
  background: #292929;
}
.footerLanding .ant-row,
.footerLanding .ant-row::after,
.footerLanding .ant-row::before {
  text-align: left;
  display: flex;
}
.footer-center {
  margin: 0 auto;
}
.footerLanding .ant-row .footer-center {
  display: inline-block;
  text-align: left;
}
.footerLanding .ant-row .footer-center > h2 {
  font-size: 14px;
  margin: 0 auto 24px;
  position: relative;
}
.footerLanding .ant-row .footer-center h2 .anticon {
  font-size: 16px;
  position: absolute;
  left: -22px;
  top: 3px;
  color: #aaa;
}
.ant-row .ant-col-lg-6 {
  display: block;
  flex: 0 0 50%;
  max-width: 50%;
}
.footer-center div a {
  text-decoration: none;
}
.footer-text {
  padding: 0 0 20px 0;
}
.social-network {
  display: inline-block;
}
.social-network ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-network ul li {
  width: 100%;
  height: 48px;
}
.social-network ul li a {
  border-radius: 5px;
}
.footer-wrap {
  position: relative;
  padding: 20px 50px 20px;
}
.footer-left {
  /* padding: 0 250px 0 0; */
  margin: 0;
}
.footer-left h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
}
.footer-right div {
  padding: 0 0 15px 0;
}
.footer-right-content{
  padding-left: 440px;
}
.footer-right-content,
.footer-left-content {
  display: block;
  flex: 0 0 50%;
  max-width: 50%;

}
.bottom-bar {
  border-top: 1px solid;
  text-align: left;
  padding: 20px;
  margin: 0;
  line-height: 24px;
}
.bottom-bar a {
  color: rgba(255, 255, 255, 0.65);
}
.bottom-bar a:hover {
  color: #fff;
}

.footer-logo {
  position: relative;
  top: -2px;
}
.footer-flag {
  position: relative;
  top: -4px;
  margin-right: 8px;
}
.copyright {
  padding: 0;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .footer-right-content {
    padding-left: 350px
  }
}
@media screen and (max-width: 960px) {
  #footer .footer-center {
    text-align: center;
  }
  .footer-right-content {
    padding-left: 300px
  }
  .footer-left{
    padding-right: 220px;
  }
}
@media screen and (max-width: 786px) {
  #footer .footer-wrap {
    padding: 0;
  }
  .footer-left {
    padding: 0;
  }
  .footer-right-content {
    padding-left: 0;
  }
  .footer-right {
    padding: 0;
    text-align: center !important;
  }
  .footer-right-content,
  .footer-left-content {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footerLanding .ant-row {
    text-align: center;
    display: flex;
  }
  .copyright {
    padding: 0;
    margin: 0 auto;
  }
}
