#header {
  background-color: #fff;
  position: relative;
  z-index: 10;
  height: 64px;
}

#logo {
  overflow: hidden;
  padding-left: 40px;
  float: left;
  line-height: 64px;
  text-decoration: none;
  height: 64px;
}
#logo img {
  display: inline;
  vertical-align: middle;
  margin-right: 16px;
  width: 70%;
}
#logo span {
  font-size: 14px;
  line-height: 28px;
}

.headerMeta {
  padding-right: 40px;
}
.headerMeta::before {
  display: table;
  content: "";
}
.headerMeta::after {
  display: table;
  content: "";
  clear: both;
}
#nav {
  padding-left: 20px;
}
#menu {
  float: right;
  overflow: hidden;
  height: 64px;
}
#menu .ant-menu {
  line-height: 60px;
}
#menu .ant-menu-horizontal {
  border-bottom: none !important;
}
#menu .ant-menu-horizontal .ant-menu-item {
  border-top: 2px solid transparent;
}
#menu .ant-menu-horizontal .ant-menu-item:hover {
  border-bottom: 2px solid;
}
#menu .ant-menu-horizontal .ant-menu-item-selected {
  border-top: 2px solid;
  border-bottom: 2px solid transparent;
}
#preview {
  padding-top: 17px;
  float: right;
  margin-left: 32px;
}
#preview button {
  border-radius: 32px;
}
#preview-button .ant-btn {
  color: blue;
}
.SignBtn{
  border: 1px solid #F53855;
  border-radius: 50px;
  width: 150px;
  height: 45px;
  margin-left: 50px;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item{
  margin: 0 50px;
  margin-top: -1px;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

.nav-phone-icon {
    position: absolute;
    top: 25px;
    right: 30px;
    z-index: 1;
    display: none;
    width: 16px;
    height: 22px;
    cursor: pointer;
}
@media screen and (max-width: 786px){
  .nav-phone-icon {
    display: block;
}
  .SignBtn{
    border: none;
    margin: 0;
    text-align: left;
    padding-left: 24px;
  }
}