.search_form .search_icon {
    position: relative;
    top: 10px;
    left: -20px;
    color: #ced4d9;
  }
  .search_form .search_icon img {
    position: absolute;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
  }
  .search_form {
    margin-top: 10px;
    float: left;
    height: 40px;
    padding-left: 30px;
    line-height: 22px;
    border-left: 1px solid #ebedf0;
  }
  .search_field {
    width: 273px;
    height: 36px;
  }
  .input {
    border: 0;
    margin-top: 10px;
    font-size: 14px;
    background: transparent;
    cursor: text;
    overflow: visible;
    box-shadow: none;
  }
  .input::placeholder {
    text-overflow: ellipsis;
  }
  .input:focus {
    border-right-width: 1px !important;
    outline: 0;
  }