.login_replace_left {
  float: left;
}

.login_replace_right {
  float: right;
}

.login_replace_button {
  width: 100%;
}

@media only screen and (max-width: 299px) {
  .login {
    margin: 100px auto;
    max-width: 280px;
  }
}
@media all and (min-width: 300px) {
  .login {
    height: 100vh;
    top: 10%;
    padding: 60px 0;
    background-image: url(../../assets/login_background.svg);
    background-color: #f0f2f5;
    background-size: cover;
  }

  .login_form {
    top: 10%;
    margin: 100px auto;
    max-width: 410px;
    padding: 20px 20px;
  }
}
.icon {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;
}
.errorText {
  color: red;
  text-align: center;
  margin-bottom: 0;
}
.login_Logo {
  width: 170px;
  display: block;
  margin: 20px auto;
}
