@import "~antd/dist/antd.css";
.logo {
  height: 32px;
  margin: 16px;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}

.site_layout_background {
  background: #fff;
}
.update_Button {
  margin-left: 90%;
}

@media only screen and (max-width: 700px) {
  .update_Button {
    margin-left: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .update_Button {
    margin-left: 40%;
  }
}
.errorText {
  color: red;
  text-align: center;
}
