@import '~antd/dist/antd.css';
.logo {
    height: 32px;
    margin: 16px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

.site_layout_background {
  background: #fff;
}
.title{
    font-size: 2em;
    font-weight: 600;
}
.userName{
  font-family: Arial, Helvetica, sans-serif;
  color: #002140;
  font-size: 1.5em;
  font-weight: 600;
}
.searchInput {
  width: 70%;
  display: block;
  margin: 20px auto;
  text-align: left;
  border-radius: 5px;
}