@import "~antd/dist/antd.css";
.logo {
  height: 32px;
  margin: 16px;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}

.site_layout_background {
  background: #fff;
}
.h2 {
  font-size: 2em;
  font-weight: 600;
}
.title {
  font-size: 2rem;
  font-weight: 600;
}
.checksubmit{
  margin-left: 35%;
}
.checkbox {
  padding-bottom: 50px;
}
.submitlayout {
  display: inline-block;
  margin-left: 35%;
}
.submitbtn {
  background-color: #1890ff;
  color: rgb(253, 202, 202);
}
@media screen and (max-width: 786px) {
  .UploadDragger {
    width: 80%;
  }
  .h2 {
    padding-left: 20px;
  }
  .title {
    padding-left: 0px;
    font-size: 16px;
  }
  .checksubmit {
    margin: 0;
  }
  .checkbox {
    margin-left: 0;
  }
  .submitlayout {
    display: inline-block;
    margin-left: 35%;
  }
  .checkbox {
    margin: 0 !important;
  }
}
