@import "~antd/dist/antd.css";
.logo {
  height: 32px;
  margin: 16px;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}

.site_layout_background {
  background: #fff;
}
.title {
  font-size: 2em;
  font-weight: 600;
}
.userName {
  font-family: Arial, Helvetica, sans-serif;
  color: #002140;
  font-size: 1em;
  font-weight: 600;
}
.topicCard {
  width: 100%;
  display: inline-block !important;
  margin: 10px 0px 10px 20px;
  padding: 0px 20px 0px 0px;
}
.cardContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cardContainer::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 400px) {
  .topicCard {
    width: 100%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .topicCard {
    width: 100%;
    margin-top: 10px;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
.searchInput {
  width: 70%;
  display: block;
  margin: 20px auto;
  text-align: left;
  border-radius: 5px;
}
