@import "~antd/dist/antd.css";
/* .logo {
    height: 32px;
    margin: 16px;
    color: rgb(7, 6, 6);
    text-align: center;
    font-size: 25px;
    font-weight: 900;
} */
.site_layout {
  width: 100%;
  height: 1080px;
}
.content::before {
  clear: both;
}
.content::after {
  clear: both;
  content: "";
}
.site_layout_background {
  /* background: #fff; */
  width: 55%;
  float: left;
  border-radius: 20px;
}
/* .table tr{
    width: 40%;
    display: inline-block;
    border: 1px solid #f1f1f3;
    border-radius: 10px;
    margin: 10px;
}
.table thead{
    display: none;
} */
.site_layout_comment {
  float: left;
  width: 35%;
  padding: 24px;
  background: #fff;
  border-radius: 20px;
  margin-left: 50px;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 786px) {
  .site_layout_background,
  .site_layout_comment {
    width: 100%;
    margin: 0;
  }
  .site_layout_background {
    margin-bottom: 30px;
  }
}
